@charset "utf-8";
/*
/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * Dreamweaver modifications:
 * 1. Commented out selection highlight
 * 2. Removed media queries section (we add our own in a separate file)
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

/* Dreamweaver: uncomment these if you do want to customize the selection highlight
 *::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
 *::selection { background: #fe57a1; color: #fff; text-shadow: none; }
 */

/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
	outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form {
	margin: 0;
}
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table {
	border-collapse: collapse;
	border-spacing: 0em;
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(0,0,0,1);
	/* [disabled]background: rgba(255,255,255,.45); */
}
td {
	vertical-align: top;
	padding: 0.5em;
	margin-right: 2em;
	margin-left: 2em;
}


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
















/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
 @media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
body {
	font-size: 62.5%;
	font-size: 1em;
	font-family: Garamond, Georgia, "Times New Roman", serif;
	color: white;
	background: rgba(51,51,51,1);
}
#school_name h1 {
	font-family: Garamond, Georgia, "Times New Roman", serif;
	font-size: 2.5em;
	font-weight: normal;
	margin-top: 0.5em;
}
#school_name h1 #marymount {
	color: rgba(255,255,255,1);
}
#school_name h1 #manhattan {
	color: rgba(69,132,186,1);
}
#nav ul li {
	display: inline;
	float: right;
	margin: 0 0.3em 0.3em 0.65em;	
	font-size: 1.1em;
}
#nav ul li a, #help a , #admin_login a{
	text-decoration: none;	
	color: white;
}
#nav ul li a:hover , #admin_login a:hover{
	color: rgba(124,174,224,1);
	text-decoration: underline;
}
#help a {
	font-size: 0.8em;
}
#help a:hover {
	color: rgba(255,204,0,1);	
	font-weight: bold;
}
#footer p{
	margin-left: 3em;
	padding: 0.1em;
	font-size: 0.8em;
}
#footer p span {
	float: right;
	margin-right: 3em;
}
#footer a #linkedin {
	height: 35px;
	width: 35px;
	background: url(../_assets/images/linkedin_sprite.gif) 0px top;
}
#footer a #linkedin:hover {
	background: url(../_assets/images/linkedin_sprite.gif) 0px 35px;
}
#footer p a {
	float: right;
	margin-right: 3em;
	margin-top: -.8em;
}
#index_main h1 {
	text-align: center;
	font-size: 2.2em;
	display: none;
}
.return_link, #index_main p a  {
	color: rgba(137,179,211,1);
	text-decoration: underline;
}
#help_main h1 , #help_submit_main h1{
	font-size: 1.5em;
}
#help_main #contact_info {
	text-align: left;
	margin-left: 3em;
}
#help_form input, textarea {
	font-family: Garamond, Georgia, "Times New Roman", serif;
	margin-top: 0em;
	margin-bottom: 0.5em;
}
#help_form input[value="Submit"] {
	margin: 0 3em;
	display: block;
	padding: 0.3em 0.6em;
	font-weight: bold;
}
#help_form a {
	text-decoration: none;
}
#help_form textarea {
	margin-bottom: 2em;
}
.cmd_submit  {
	font-weight: bold;
	color: rgba(0,0,0,1);
	text-decoration: none;
	background: rgba(204,204,204,1);
	margin-left: 3em;
	text-align: center;
	padding: 1em 5em;
	border-radius: 0.5em;
}
.tab_cmd_submit  {
	font-weight: bold;
	color: rgba(0,0,0,1);
	text-decoration: none;
	background: rgba(204,204,204,1);
	margin-left: 3em;
	text-align: center;
	padding: 1em 5em;
	border-radius: 0.5em;
	/* [disabled]box-shadow: 0 5px 5px #333333; */
	margin-top: -1em;
	border: none;
}
.cmd_submit:hover, .tab_cmd_submit:hover {
	color: rgba(255,255,255,1);
	background: rgba(69,133,187,1);
}
.cmd_submit:active, .tab_cmd_submit:active{
	color: rgba(255,255,255,1);
	background: rgba(69,133,187,1);
	box-shadow: 0 5px 5px #333333 inset;
}
.bottom_field {
	margin-bottom: 2em;
}

.gridContainer.clearfix #school_name #name_homelink {
	text-decoration: none;
}
.main_exterior {
	background: url(../_assets/images/main_exterior.jpg) no-repeat fixed center center;
}
#resRoomNo select, input {
	font-family: Georgia, "Times New Roman", Times, serif;
	width: 20em;
	margin-bottom: 0.5em;
}
#newRes select, input {
	font-family: Georgia, "Times New Roman", Times, serif;
	width: 20em;
	margin-bottom: 0.5em;
}
#locate select, input {
	font-family: Georgia, "Times New Roman", Times, serif;
	width: 20em;
	margin-bottom: 0.5em;
}
#editRes select, input {
	font-family: Georgia, "Times New Roman", Times, serif;
	width: 20em;
	margin-bottom: 0.5em;
}
#reports select, input {
	font-family: Georgia, "Times New Roman", Times, serif;
	width: 20em;
	margin-bottom: 0.5em;
}
#room_grid {
	float: left;
	text-decoration: none;
	color: rgba(255,255,255,1);
	background: url(../_assets/images/rmGrid_sprite.gif) no-repeat right bottom;
}
#master_calendar {
	float: right;
	text-decoration: none;
	background: url(../_assets/images/calendar_sprite.png) no-repeat right bottom;
	color: rgba(255,255,255,1);
}
#rmConfig select {
	width: 20em;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#resRoomNo , #rmConfig, #newRes, #editRes, #help_form, #locate, #reports{
	margin: 0px 0px 0px 3em;
}
.classroom {
	background: url(../_assets/images/classroom_interior.jpg) no-repeat fixed center center;
}
.theatre {
	background: url(../_assets/images/theatre.jpg) no-repeat fixed right top;
	background-size: cover;
}
#reports_overview ul {
	list-style: none;
	text-align: center;
	margin-left: -2.2em;
}
#reports_overview ul a {
	text-decoration: none;
	color: rgba(0,0,0,1);
	margin-bottom: 1em;
}
#reports_overview ul a li {
	margin-bottom: 1em;
	padding: 1em 2em;
	background: rgba(204,204,204,.65);
	font-size: 1.2em;
	font-weight: bold;
}
.reports_nav {
	text-decoration: none;
	color: rgba(0,0,0,1);
	font-size: 1.2em;
	font-weight: bold;
	background: rgba(204,204,204,.55);
	padding: 1em 4em;
	margin: 1em 10% 0em;
	float: left;
	width: 15em;
	text-align: center;
}
.reports_nav:hover {
	background: rgba(69,132,186,.55);
	color: rgba(255,255,255,1);
}
.reports_nav:active {
	box-shadow: 0 5px 5px #333333 inset;
}
.content_header {
	font-size: 1.7em;
	vertical-align: top;
}
.rmGrid_sprites {
	height: 175px;
	width: 175px;
}

#room_grid h2 , #master_calendar h2{
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	margin-top: 0px;
}
#room_grid:hover, #room_grid:active {
	background: url(../_assets/images/rmGrid_sprite.gif) no-repeat left bottom;
	color: rgba(70,133,187,1);
	text-decoration: underline;
}
#master_calendar:hover, #master_calendar:active {
	background: url(../_assets/images/calendar_sprite.png) no-repeat left bottom;
	color: rgba(70,133,187,1);
	text-decoration: underline;
}
.content_header span {
	font: .8em Arial, Helvetica, sans-serif;
}
.tblHeader {
	color: rgba(255,255,255,1);
	background: rgba(57,113,157,0.65);
	font-family: Garamond, Georgia, "Times New Roman", serif;
}
tbody {
	color: rgba(0,0,0,1);
	background: rgba(255,255,255,.55);
	font: Arial, Helvetica, sans-serif;
}
.tblHeader th {
	padding: 0.5em;
	margin-right: 2em;
	margin-left: 2em;
	text-align: left;
	/* [disabled]border: thin solid rgba(51,51,51,1); */
}
tbody tr .comments_row {
	font-style: italic;
	text-align: right;
}
tbody tr:nth-child(even) {
	border-bottom: thin solid rgba(0,0,0,1);
}
#allConfigs_table table tbody tr {
	border-bottom: thin solid rgba(0,0,0,1);
}
#allConfigs_table td {
	text-align: center;
}
#allConfigs_table table {
	/* [disabled]margin-bottom: 5em; */
}
p.centered_bottom {
	text-align: center;
}
#rmNoResResults_table p, #locateResults_table p, #allConfigs_table p {
	margin-bottom: 5em;
}.commons_interior {
	background: url(../_assets/images/commons_interior.jpg) no-repeat fixed center center;
}
.main_panorama {
	background: url(../_assets/images/main_exterior2.jpg) fixed center bottom;
}
.leftNav .unselected {
	float: left;
	background: rgba(255,255,255,.45);
	width: 100%;
	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: rgba(0,0,0,1);
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 0.1em;
}
.leftNav .currentTab {
	float: left;
	width: 100%;
	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 0.1em;
	background: rgba(69,132,186,.45);
	color: rgba(255,255,255,1);
}
.leftNav .unselected:hover {
	background: rgba(125,200,236,0.65);
	color: rgba(255,255,255,1);
}
.leftNav {
	margin-right: -0.5em;
}
.tabContent {
	padding-left: 1em;
	margin-bottom: 5em;
	padding-bottom: 5em;
	border-left: 1px solid white;
}
.return_link:visited {
	color: rgba(137,179,211,1);
}
.reports_nav:visited {
	color: black;
}
.cmd_submit:visited, .tab_cmd_submit:visited {
	color: white;	
}
.reports_nav:hover {
	color:white;	
}
.mblNavBar li {
	display: block;
	width: 14.27%;
	float: left;
}
.mblNavBar img {
	width: 25px;
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-top: -2em;
	margin-bottom: -1em;
}
.mblResultsTitle {
	font: bold 1.25em Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 0.5em auto;
	width: 100%;
}
.mblTable {
	width: 100%;
}
.mblTable th {
	color: rgba(255,255,255,1);
	background: rgba(57,113,157,0.65);
	font-family: Garamond, Georgia, "Times New Roman", serif;
}
#allConfigs_table .mblTable tr>td, .mblTable tr>td {
	text-align: left;
	color: rgba(0,0,0,1);
	background: rgba(255,255,255,.55);
	font: Arial, Helvetica, sans-serif;
	border-bottom: thin solid rgba(0,0,0,1);
}
.mblTable td:nth-child(odd) {
	font-weight: bold;
}
#index_main h1 {
	text-align: center;
	font-size: 2.2em;
	display: block;
}
}
