@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width: 100%;
}


/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		6;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */
.ui-datepicker a {
		text-decoration: none;
}
.ui-datepicker-header {
	background: rgba(54,103,141,1);	
	border-color: rgba(54,103,141,1);
}
.ui-datepicker-prev{
	width: 15px;
	height: 15px;
	background: url(../_assets/images/arrow_sprite.gif) no-repeat left center;
}
.ui-datepicker-next{
	width: 15px;
	height: 15px;
	background: url(../_assets/images/arrow_sprite.gif) no-repeat right center;
}
.ui-datepicker-calendar .ui-state-hover {
	color: rgba(28,53,74,1);
	background: rgba(207,223,237,1);	
	border-color: rgba(207,223,237,1);	
}
.ui-datepicker-calendar .ui-state-active {
	color: rgba(255,255,255,1);
	background: rgba(28,53,74,1);
	border-color: rgba(28,53,74,1);
}
@media only screen and (max-width: 480px) {
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 91.8333%;
	padding-left: 1.5833%;
	padding-right: 1.5833%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo {
	/*clear: both;*/
	float: left;
	/*margin-left: 12.8205%;*/
	margin-top: 0.25em;
	margin-left: 0;
	width: 13.7931%;
	display: block;
	position: fixed;
	z-index: 100;
}
#logo img {
	height: 40px;	
	width: 40px;
}
#school_name {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 48.7179%;
	/*display: block;*/
	display: none;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	/*display: block;*/
	display: none;
}
#main_content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#index_main {
	clear: both;
	float: left;
	/*margin-left: 12.8205%;*/
	margin-left: 0;
	/*width: 87.1794%;*/
	width: 100%;
	display: block;
	margin-bottom: 5em;
}
#index_main h1 {
	display: none;
}
#index_main p {
	text-align: justify;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	color: rgba(0,0,0,1);
	background: rgba(255,255,255,1);
	position: fixed;
	bottom: 0px;
	padding: 0;
}
#footer p {
	font-size: 0.7em;
}
#help {
	/*clear: none;*/
	float: left;
	margin-left: 2.5641%;
	/*width: 23.0769%;*/
	width: 13.7931%;
	/*display: block;*/
	display: none;
}
#help_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 5em;
}
#help_submit_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#roominfo_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 87.1794%;
	display: block;
}
#roominfo_panel {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#res_panel {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#help_main_h1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#help_main_body {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#admin_login {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#frm_locate {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#frm_reports {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#res_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#locate_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 5em;
}
#allRes_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#frm_allRes {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#reports_overview {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#roominfo_main_header {
	clear: both;
	float: left;
	margin-left: 38.4615%;
	width: 61.5384%;
	display: block;
}
#res_main_header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#locate_main_header {
	clear: both;
	float: left;
	margin-left: 38.4615%;
	width: 100%;
	display: block;
}
#reports_main_header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#allRes_main_header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmNoResResults_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmNoResResults_main_header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmNoResResults_table {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmConfigResults_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmConfigResults_main_header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmConfigResults_table {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#locateResults_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#locateResults_main_header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#locateResults_table {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#allResResults_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#allResResults_main_header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#allResResults_table {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	margin-bottom: 5em;
}
#allConfigs_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#allConfigs_main_header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#allConfigs_table {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#edit_submit_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#newres_submit_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#roominfo_leftnav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#roominfo_tabContent {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 100%;
	display: block;
}
#rmgrid_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmgrid_main_header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmgrid_leftnav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmgrid_tabContent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmconfig_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmconfig_main_header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmconfig_leftnav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmconfig_tabContent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 61.5384%;
	display: block;
}
#res_leftnav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#res_tabContent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 61.5384%;
	display: block;
}
#res_edit_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#res_edit_leftnav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#res_edit_tabContent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#res_edit_main_header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer a #linkedin {
	background: url(../_assets/images/linkedin_sprite.gif) left bottom;
}
.mblTitleBar {
	/*clear: both;*/
	float: left;
	margin-left: 1em;
	width: 80%;
	display: block;
	position: fixed;
	z-index: 100;
}
.mblTitleBar > h1 {
	font-size: 1.2em;
	text-align: right;
}
.mblNavBar {
	background: rgba(230,230,230,1);
	width: 100%;
	/* [disabled]margin-top: 3em;
*/
	/* [disabled]bottom: 35px;
*/
	clear: both;
	position: fixed;
	height: 35px;
	padding-bottom: 0.2em;
	margin-bottom: -0.5em;
	top: 3em;
}
.mblNavBar ul {
	margin-left: -1.99em;
	text-align: center;
}
.hideInMbl {
	display: none;
}
.mblTitleBarBkgd {
	background: rgba(28,53,74,1);
	position: fixed;
	z-index: 1;
	height: 3em;
	width: 100%;
}
.mainContent {
	margin-top: 6em;
}
#room_grid {
	display: block;
	clear: both;
	background: url(../_assets/images/rmGrid_sprite.gif) no-repeat left bottom;
	color: rgba(70,133,187,1);
	text-decoration: underline;
	margin: 0 20%;
}
#master_calendar {
	float: left;
	display: block;
	clear: both;
	margin: 0 20%;
	margin-top: 2em;
	background: url(../_assets/images/calendar_sprite.png) no-repeat left bottom;
	color: rgba(70,133,187,1);
	text-decoration: underline;
}
.leftNav, .tabContent{
	margin-left: 0;
}
.leftNav a {
	padding-right: 3em;
}
.mblTable {
	width: 100%;
	margin-left: 0px;
}
.tabContent {
	border: none;
	padding-left: 0;
}
#resRoomNo , #rmConfig, #newRes, #editRes, #help_form, #locate, #reports{
	margin: 0;
}
#resRoomNo select, #rmConfig select, #newRes select, #editRes select, #locate select {
	width: 17.25em;	
}
#resRoomNo input, #newRes input, #editRes input, #locate input, #reports input, #help_form input, textarea {
	width: 17em;	
}
.reports_nav {
	width:  13em;	
	margin-left: 0;
	padding: .5em 2em;
	font-size: 1em;
}
#reports>a {
	margin-left: 1em;	
}
.return_link {
	background: rgba(255,255,255,0.85);
	color: rgba(0,0,0,1);
	text-decoration: none;
	text-align: center;
	padding: 0.5em 1.5em;
	margin: 2em auto;
	font-weight: bold;
	border-radius: 1em;
}
.tab_cmd_submit, .cmd_submit {
	color: rgba(255,255,255,1);
	background: rgba(69,133,186,0.75);
}
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo {
	/*clear: both;*/
	float: left;
	/*margin-left: 12.8205%;*/
	margin-top: 0.25em;
	margin-left: 1em;
	width: 15.7796%;
	display: block;
	position: fixed;
	z-index: 100;
}
#logo img {
	height: 60px;
	width: 60px;
}
#school_name {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 57.6271%;
	display: none;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: none;
}
#main_content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#index_main {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	margin-bottom: 5em;
	width: 74.3589%;
	display: block;
}
#index_main h1 {
	display: none;	
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background: rgba(255,255,255,1);
	color: rgba(0,0,0,1);
	bottom: 0px;
	position: fixed;
}
#help {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 10.2564%;
	display: block;
}
#help_main {
	clear: both;
	float: left;
	margin-left: 25.641%;
	margin-bottom: 5em;
	width: 61.5384%;
	display: block;
}
#help_submit_main {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 87.1794%;
	display: block;
}
#roominfo_main {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 87.1794%;
	display: block;
}
#roominfo_panel {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#res_panel {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#help_main_h1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#help_main_body {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#admin_login {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#frm_locate {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	margin-bottom: 5em;
	width: 74.3589%;
	display: block;
}
#frm_reports {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#res_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#locate_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#allRes_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#frm_allRes {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	margin-bottom: 5em;
	width: 74.3589%;
	display: block;
}
#reports_overview {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	margin-bottom: 5em;
	width: 74.3589%;
	display: block;
}
#roominfo_main_header {
	clear: both;
	float: left;
	margin-left: 25.641%;
	width: 61.5384%;
	display: block;
}
#res_main_header {
	clear: both;
	float: left;
	margin-left: 25.641%;
	width: 48.7179%;
	display: block;
}
#locate_main_header {
	clear: both;
	float: left;
	margin-left: 25.641%;
	width: 61.5384%;
	display: block;
}
#reports_main_header {
	clear: both;
	float: left;
	margin-left: 25.641%;
	width: 61.5384%;
	display: block;
}
#allRes_main_header {
	clear: both;
	float: left;
	margin-left: 25.641%;
	width: 61.5384%;
	display: block;
}
#rmNoResResults_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmNoResResults_main_header {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 87.1794%;
	display: block;
}
#rmNoResResults_table {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 87.1794%;
	display: block;
}
#rmConfigResults_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmConfigResults_main_header {
	clear: both;
	float: left;
	margin-left: 25.641%;
	width: 61.5384%;
	display: block;
}
#rmConfigResults_table {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 87.1794%;
	display: block;
}
#locateResults_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#locateResults_main_header {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 87.1794%;
	display: block;
}
#locateResults_table {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 87.1794%;
	display: block;
}
#allResResults_main {
	clear: both;
	float: left;
	margin-left: 0;
	margin-bottom: 5em;
	width: 100%;
	display: block;
}
#allResResults_main_header {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 87.1794%;
	display: block;
}
#allResResults_table {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 87.1794%;
	display: block;
}
#allConfigs_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#allConfigs_main_header {
	clear: both;
	float: left;
	margin-left: 25.641%;
	width: 61.5384%;
	display: block;
}
#allConfigs_table {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 87.1794%;
	display: block;
}
#edit_submit_main {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 87.1794%;
	display: block;
}
#newres_submit_main {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 87.1794%;
	display: block;
}
#roominfo_leftnav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 87.1794%;
	display: block;
}
#roominfo_tabContent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 74.3589%;
	display: block;
}
#rmgrid_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmgrid_main_header {
	clear: both;
	float: left;
	margin-left: 25.641%;
	width: 61.5384%;
	display: block;
}
#rmgrid_leftnav {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 74.3589%;
	display: block;
}
#rmgrid_tabContent {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 61.5384%;
	display: block;
}
#rmconfig_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmconfig_main_header {
	clear: both;
	float: left;
	margin-left: 25.641%;
	width: 61.5384%;
	display: block;
}
#rmconfig_leftnav {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 74.3589%;
	display: block;
}
#rmconfig_tabContent {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 61.5384%;
	display: block;
}
#res_leftnav {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 74.3589%;
	display: block;
}
#res_tabContent {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 61.5384%;
	display: block;
}
#res_edit_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#res_edit_leftnav {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 74.3589%;
	display: block;
}
#res_edit_tabContent {
	clear: both;
	float: left;
	margin-left: 12.8205%;
	width: 61.5384%;
	display: block;
}
#res_edit_main_header {
	clear: both;
	float: left;
	margin-left: 25.641%;
	width: 48.7179%;
	display: block;
}
#footer a #linkedin {
	background: url(../_assets/images/linkedin_sprite.gif) left bottom;
}
#index_mblTitleBar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 80%;
}
.mblNavBar {
	background: rgba(230,230,230,1);
	width: 100%;
	/* [disabled]margin-top: 3em;
*/
	/* [disabled]bottom: 35px;
*/
	clear: both;
	position: fixed;
	height: 50px;
	padding-bottom: 0.2em;
	margin-bottom: -0.5em;
	top: 4.2em;
}
.mblNavBar ul {
	margin-left: -1.99em;
	text-align: center;
}
.mblNavBar img {
	width: 35px;
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-top: -1em;
	margin-bottom: -1em;
}
.hideInMbl {
	display: none;
}
.mblTitleBar {
	/*clear: both;*/
	float: left;
	margin-left: 1em;
	width: 80%;
	display: block;
	position: fixed;
	z-index: 100;
}
.mblTitleBar > h1 {
	font-size: 1.7em;
	text-align: right;
}
.mblTitleBarBkgd {
	background: rgba(28,53,74,1);
	position: fixed;
	z-index: 1;
	height: 4.2em;
	width: 100%;
}
.mainContent {
	margin-top: 8em;
}
.mainContent p {
	font-size: 1.2em;	
}
#room_grid {
	/*	display: block;
	clear: both;*/
	background: url(../_assets/images/rmGrid_sprite.gif) no-repeat left bottom;
	color: rgba(70,133,187,1);
	text-decoration: underline;/*	margin: 0  20%;*/
}
#master_calendar {
	/*	float: left;
	display: block;
	clear: both;
	margin: 0  20%;
	margin-top: 2em;*/
	background: url(../_assets/images/calendar_sprite.png) no-repeat left bottom;
	color: rgba(70,133,187,1);
	text-decoration: underline;
}
.tabContent {
	padding-left: 5em;	
}
.leftNav, .tabContent{
	margin-left: 0;
}
.leftNav a {
	/*padding-right: 3em;*/
	font-size: 1.2em;
}
.mblResultsTitle {
	display: block;
	width: 100%;
	margin-left: 12.8205;
	text-align: center;
}
.mblTable th {
	color: rgba(255,255,255,1);
	background: rgba(57,113,157,0.65);
	font-family: Garamond, Georgia, "Times New Roman", serif;
	font-size: 1.2em;
}
.return_link {
	background: rgba(255,255,255,0.85);
	color: rgba(0,0,0,1);
	text-decoration: none;
	text-align: center;
	padding: 0.5em 1.5em;
	margin: 2em auto;
	font-weight: bold;
	border-radius: 1em;
}
.tab_cmd_submit, .cmd_submit {
	color: rgba(255,255,255,1);
	background: rgba(69,133,186,0.75);
}	
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media print, screen and (min-width: 769px) {
.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#logo {
/*	clear: both;*/
	float: left;
	margin-left: 8.4745%;
	width: 10.7796%;
	display: block;
	margin-top: .5em;
	position: static;
}
#school_name {
	/*clear: none;*/
	float: left;
	margin-left: 1.6949%;
	width: 57.6271%;
	display: block;
	text-align:center;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#main_content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#index_main {
	clear: both;
	float: left;
	margin-left: 42.3728%;
	width: 49.1525%;
	display: block;
	padding: 1em;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background: rgba(255,255,255,1);
	color: black;
	position: fixed;
	bottom: 0px;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
#help {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 6.7796%;
	display: block;
	margin-top: 0.5em;
}
#help_main {
	clear: both;
	float: left;
	margin-left: 42.3728%;
	width: 57.6271%;
	display: block;
	margin-bottom: 5em;
}
#help_submit_main {
	clear: both;
	float: left;
	margin-left: 42.3728%;
	width: 49.1525%;
	display: block;
}
#roominfo_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#roominfo_panel {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 91.5254%;
	display: block;
}
#res_panel {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 91.5254%;
	display: block;
}
#help_main_h1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#help_main_body {
	clear: both;
	float: left;
	margin-left: 0;
	width: 66.1016%;
	display: block;
}
#admin_login {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#frm_locate {
	clear: both;
	float: left;
	margin-left: 42.3728%;
	width: 57.6271%;
	display: block;
	margin-bottom: 5em;
}
#frm_reports {
	clear: both;
	float: left;
	margin-left: 42.3728%;
	width: 57.6271%;
	display: block;
	margin-bottom: 5em;
}
#res_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#locate_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#allRes_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#frm_allRes {
	clear: both;
	float: left;
	margin-left: 42.3728%;
	width: 57.6271%;
	display: block;
	margin-bottom: 8em;
}
#reports_overview {
	clear: both;
	float: left;
	margin-left: 42.3728%;
	width: 57.6271%;
	display: block;
	margin-bottom: 8em;
}
#roominfo_main_header {
	clear: both;
	float: left;
	margin-left: 33.8983%;
	width: 66.1016%;
	display: block;
}
#res_main_header {
	clear: both;
	float: left;
	margin-left: 33.8983%;
	width: 66.1016%;
	display: block;
}
#locate_main_header {
	clear: both;
	float: left;
	margin-left: 33.8983%;
	width: 66.1016%;
	display: block;
}
#reports_main_header {
	clear: both;
	float: left;
	margin-left: 33.8983%;
	width: 66.1016%;
	display: block;
}
#allRes_main_header {
	clear: both;
	float: left;
	margin-left: 33.8983%;
	width: 66.1016%;
	display: block;
}
#rmNoResResults_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmNoResResults_main_header {
	clear: both;
	float: left;
	margin-left: 33.8983%;
	width: 66.1016%;
	display: block;
	margin-bottom: 1em;
}
#rmNoResResults_table {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 91.5254%;
	display: block;
}
#rmConfigResults_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmConfigResults_main_header {
	clear: both;
	float: left;
	margin-left: 33.8983%;
	width: 66.1016%;
	display: block;
	margin-bottom: 1em;
}
#rmConfigResults_table {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 91.5254%;
	display: block;
}
#locateResults_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#locateResults_main_header {
	clear: both;
	float: left;
	margin-left: 33.8983%;
	width: 66.1016%;
	display: block;
	margin-bottom: 1em;
}
#locateResults_table {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 91.5254%;
	display: block;
}
#allResResults_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#allResResults_main_header {
	clear: both;
	float: left;
	margin-left: 33.8983%;
	width: 66.1016%;
	display: block;
	margin-bottom: 1em;
}
#allResResults_table {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 91.5254%;
	display: block;
	margin-bottom: 5em;
}
#allConfigs_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#allConfigs_main_header {
	clear: both;
	float: left;
	margin-left: 33.8983%;
	width: 66.1016%;
	display: block;
	margin-bottom: 1em;
}
#allConfigs_table {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 91.5254%;
	display: block;
}
#edit_submit_main {
	clear: both;
	float: left;
	margin-left: 42.3728%;
	width: 57.6271%;
	display: block;
}
#newres_submit_main {
	clear: both;
	float: left;
	margin-left: 42.3728%;
	width: 57.6271%;
	display: block;
}
#roominfo_leftnav {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 32.2033%;
	display: block;
}
#roominfo_tabContent {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
	/* [disabled]border-left: 1px solid rgba(255,255,255,1);
*/
	/* [disabled]background-color: black;
*/
}
#rmgrid_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmgrid_main_header {
	clear: both;
	float: left;
	margin-left: 33.8983%;
	width: 66.1016%;
	display: block;
}
#rmgrid_leftnav {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 32.2033%;
	display: block;
}
#rmgrid_tabContent {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
}
#rmconfig_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#rmconfig_main_header {
	clear: both;
	float: left;
	margin-left: 33.8983%;
	width: 66.1016%;
	display: block;
}
#rmconfig_leftnav {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 32.2033%;
	display: block;
}
#rmconfig_tabContent {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
}
#res_leftnav {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 32.2033%;
	display: block;
}
#res_tabContent {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
}
#res_edit_main {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#res_edit_leftnav {
	clear: both;
	float: left;
	margin-left: 8.4745%;
	width: 32.2033%;
	display: block;
}
#res_edit_tabContent {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	width: 49.1525%;
	display: block;
}
#res_edit_main_header {
	clear: both;
	float: left;
	margin-left: 33.8983%;
	width: 66.1016%;
	display: block;
}
#footer a #linkedin {
	background: url(../_assets/images/linkedin_sprite.gif) left top;
}
#school_name h1 {
	margin-top: 0.5em;
}
.mblNavBar {
	background: rgba(230,230,230,1);
	width: 100%;
	margin-top: 4em;
	display: none;
}
.mblTitleBar {
	/*clear: both;*/
	float: left;
	margin-left: 1em;
	width: 80%;
	display: none;
}
.mblTitleBarBkgd {
	display: none;
}
.mainContent {
	margin-top: 2em;
}
.mainContent p {
	font-size: 1em;	
}
#room_grid {
	float: left;
	text-decoration: none;
	color: rgba(255,255,255,1);
	background: url(../_assets/images/rmGrid_sprite.gif) no-repeat right bottom;
}
#master_calendar {
	float: right;
	text-decoration: none;
	background: url(../_assets/images/calendar_sprite.png) no-repeat right bottom;
	color: rgba(255,255,255,1);
}
.tabContent {
	padding-left: 1em;	
}
.leftNav, .tabContent {
	margin-top: 1em;	
}
.leftNav a {
	/*padding-right: 3em;*/
	font-size: 1em;
}
.mblResultsTitle {
	display: none;
}	
.mblTable {
	display: none;	
}
.return_link {
	background: rgba(255,255,255,0);
	color: rgba(0,0,0,1);
	text-decoration: none;
	text-align: left;
	padding: 0.5em 0;
	margin: 2em 0;
	font-weight: bold;
	/*border-radius: 1em;*/
}
.return_link, #index_main p a  {
	color: rgba(137,179,211,1);
	text-decoration: underline;
}
.return_link:visited {
	color: rgba(137,179,211,1);
}
#rmNoResResults_main_header > .return_link, #locateResults_main_header > .return_link, #allResResults_main_header > .return_link  {
	margin:  0 auto;
}

#allConfigs_main_header  {
	display: block;
	clear: both;
}
#rmConfigResults_main_header > .return_link, #allConfigs_main_header > .return_link {
	display: block;	
	margin: 0 auto;
}
.hideInMbl {
	display: inline-block;
	/* [disabled]line-height: 0.1em; */
}
#index_main h1 {
	display: block;	
}
}
